<div class="cart-header">
    <h2>Tu Carrito de Compras</h2>
    <a href="index.html" class="custom-link">Continuar Comprando</a>
</div>
<div class="container-cart">
    <div class="cart-item">
        <img src="assets/IMG/tv.png" alt="Producto 1">
        <div class="cart-item-details">
            <h4>Producto 1</h4>
            <p>Descripción del producto 1.</p>
            <p class="cart-item-price">$10.00</p>
        </div>
        <div class="cart-item-quantity">
            <button>-</button>
            <input type="number" value="1">
            <button>+</button>
        </div>
        <button>Eliminar</button>
    </div>

    <div class="cart-item">
        <img src="assets/IMG/refri.png" alt="Producto 2">
        <div class="cart-item-details">
            <h4>Producto 2</h4>
            <p>Descripción del producto 2.</p>
            <p class="cart-item-price">$15.00</p>
        </div>
        <div class="cart-item-quantity">
            <button>-</button>
            <input type="number" value="1">
            <button>+</button>
        </div>
        <button>Eliminar</button>
    </div>

    <div class="cart-summary">
        <h3>Total: $25.00</h3>
        <button class="checkout-button">Proceder al Pago</button>
    </div>
</div>