<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>ElectroUG</h3>
          <p>&copy; 2024 Grupo #8. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-4">
          <h4>Enlaces</h4>
          <ul class="list-unstyled">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Contacto</h4>
          <p>Correo: <a href="mailto:info&#64;electroug.com">info&#64;electroug.com</a></p>
          <p>Teléfono: +123 456 7890</p>
          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="social-icon"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com" target="_blank" class="social-icon"><i class="bi bi-twitter"></i></a>
            <a href="https://instagram.com" target="_blank" class="social-icon"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  