.search-bar {
    display: flex; /* Alinea los elementos horizontalmente */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio debajo de la barra de búsqueda */
}

.search-bar .form-control {
    flex-grow: 1; /* El input de texto toma el espacio disponible */
    margin-right: 10px; /* Espacio entre el input de texto y el botón */
    padding: 8px 12px; /* Espaciado interno para el input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados para el input */
    font-size: 16px; /* Tamaño del texto dentro del input */
}

.search-bar .btn-secondary {
    padding: 10px 20px; /* Espaciado interno para el botón */
    background-color: #6c757d; /* Color de fondo para el botón */
    color: white; /* Color de texto para el botón */
    border: none; /* Sin bordes para el botón */
    border-radius: 4px; /* Bordes redondeados para el botón */
    font-size: 16px; /* Tamaño del texto en el botón */
    cursor: pointer; /* Cursor de tipo puntero al pasar el mouse sobre el botón */
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.search-bar .btn-secondary:hover {
    background-color: #5a6268; /* Color de fondo del botón al pasar el mouse */
}

.branch-table {
    margin: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
}
  
.table {
    width: 100%;
    border-collapse: collapse;
}
  
.table thead th {
    background-color: #343a40;
    color: white;
    text-align: left;
    padding: 10px;
}
  
.table tbody td {
    padding: 15px;
    vertical-align: middle;
}
  
.btn-sm {
    padding: 5px 10px;
    margin-right: 5px;
}
  
.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

.modal-title{
    font-size: 20px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5a6268;
    color: white;
    border-bottom: 1px solid #dee2e6;
}
  
.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
}
  
.btn-close {
    background: none;
    border: none;
    font-size: 1.25rem;
    color: white;
}
  
.modal-body {
    padding: 20px;
}
  
.form-group {
    margin-bottom: 1rem;
}
  
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #343a40;
}
  
.form-group input,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
  
.form-group input:focus,
.form-group select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}
  
.form-buttons {
    display: flex;
    margin-left: 20px;
    justify-content: flex-end;
}
  
.btn-primary {
    background-color: #2BD9A8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
  
.btn-primary:hover {
    background-color: #1f9c6c;
}
  
.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
  
.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-close::before {
    content: '×';
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}

.search-and-filter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  .search-box {
    display: flex;
    align-items: center;
}

  .search-box input, .popularity-filter select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
  
  .search-box button {
    margin-left: 10px;
  }
  
  .popularity-filter select {
    display: block;
    width: 100%;
  }
  