<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroUG</title>

</head>
<body>
    <header>
        <div id="tope">
            <h1>ElectroUG</h1>
            <button class="btn btn-primary me-md-2" type="button"> <i class="bi bi-person-square"></i> Acceder </button>
        </div>
        <app-cabecera></app-cabecera>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <p>&copy; 2024 Grupo #8 . Todos los derechos reservados.</p>
    </footer>
</body>
</html>