<div class="signinForm">
  <form (ngSubmit)="onSubmit()" #signinForm="ngForm">
    <h2>Inicio de sesión</h2>
    <div class="mb-3 form-group">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email" required>
    </div>
    <div class="mb-3 form-group">
      <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password" required>
    </div>
    <div class="mb-3 form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberMe" [(ngModel)]="rememberMe">
      <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>
</div>
