
<section >
    <h2>Productos Populares</h2>
    <div class="seccionesProducto">
     <div class="product">
        <img src="assets/IMG/tv.png" class="img-producto"  alt="Producto 1">
        <h3>Producto 1</h3>
        <p>Precio: $99.99</p>
        <button>Agregar al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/IMG/refri.png" class="img-producto" alt="Producto 2">
        <h3>Producto 2</h3>
        <p>Precio: $149.99</p>
        <button>Agregar al Carrito</button>
    </div>   
    <div class="product">
        <img src="assets/IMG/cocina.png" class="img-producto"  alt="Producto 1">
        <h3>Producto 1</h3>
        <p>Precio: $99.99</p>
        <button>Agregar al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/IMG/micro.png" class="img-producto" alt="Producto 2">
        <h3>Producto 2</h3>
        <p>Precio: $149.99</p>
        <button>Agregar al Carrito</button>
    </div>
</div>
</section>
<section >
    <h2>Productos Destacados</h2>
    <div class="seccionesProducto">
    <div class="product">
        <img src="assets/IMG/cocina.png" class="img-producto"  alt="Producto 1">
        <h3>Producto 1</h3>
        <p>Precio: $99.99</p>
        <button>Agregar al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/IMG/ps5.png" class="img-producto"  alt="Producto 1">
        <h3>Producto 1</h3>
        <p>Precio: $99.99</p>
        <button>Agregar al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/IMG/tv.png"  class="img-producto" alt="Producto 2">
        <h3>Producto 2</h3>
        <p>Precio: $149.99</p>
        <button>Agregar al Carrito</button>
    </div>
</div>
</section>

