
<nav class="navbar navbar-expand-lg" style="background-color: #0D0D0D">
    <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" routerLink="/inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/productos" >Productos</a></li>
        <li><a class="nav-link active" routerLink="/carrito">Carrito</a></li>
        <li><a class="nav-link active" href="#">Contacto</a></li>
    </ul>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light" type="submit" >Search</button>
      </form>
    </div>
</nav>